<div class="row">
    <div class="span2">&nbsp;</div>
    <article class="span8">
        <header>
            <a href="{{ page.url }}">
              <h1>{{ page.title }}</h1>
            </a>
            <p>
                <i class="icon-time"></i>
                {{ page.date | date: "%B %d, %Y" }}
            </p>
        </header>

        {{ content }}

        <footer>
            <p>
                Categories:
                {% for category in page.categories %}
                <span class="label label-success">{{category}}</span>
                {% endfor %}
            </p>

            <p>
                Tags:
                {% for tag in page.tags %}
                <span class="label label-info">{{tag}}</span>
                {% endfor %}
            </p>
        </footer>
    </article>
    <div class="span2">&nbsp;</div>
</div>
