<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset=utf-8 />
        <title> {% if page.title %} {{ page.title }} | {% endif %} Software Dogma</title>

        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">

        <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
        <!--[if lt IE 9]>
          <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->

        <link href="/css/bootstrap.css" rel="stylesheet">
        <link href="/css/bootstrap-responsive.css" rel="stylesheet">
        <link href="/css/syntax.css" rel="stylesheet">
    </head>
    <body>
        <div class="container-fluid">
            <div class="row-fluid">
                <div class="span3">
                    <div class="well sidebar-nav">
                        <article>
                            <header>
                                <h2>Sobre</h2>
                            </header>

                            <p>Olá, eu sou <a href="/contact/index.html">Glauco Vinicius</a>.</p>
                            <p>Sou um desenvolvedor de software apaixonado! Amo criar coisas úteis e que mudem a vida das pessoas. Também adoro resolver problemas e aprender algo novo todos os dias.</p>
                            <p>Nesse blog eu posto todos os meu pensamentos relacionados a desenvolvimento de software.</p>
                            <p><em>Aproveite!</em></p>
                        </article>

                        <article>
                            <header>
                                <h2>Leia também</h2>
                            </header>

                            <ul class="unstyled">
                                <li>
                                    <a class="label" href="http://gustavoveloso.posterous.com/">
                                        <i class="icon-globe icon-white"></i>&nbsp;Blog do Gustavo Veloso
                                    </a>
                                </li>
                                <li>
                                    <a class="label" href="http://henriquebastos.net/">
                                        <i class="icon-globe icon-white"></i>&nbsp;Henrique Bastos.NET
                                    </a>
                                </li>
                                <li>
                                    <a class="label" href="http://www.codinghorror.com/">
                                        <i class="icon-globe icon-white"></i>&nbsp;Coding Horror
                                    </a>
                                </li>
                            </ul>
                        </article>
                    </div>
                </div>
                <div class="span9">
                    <header class="container-fluid">
                        <a class="brand" href="/">Software Dogma</a>
                    </header>

                    <nav class="container-fluid navbar">
                        <ul class="nav">
                            <li class="active"><a href="/"><i class="icon-home"></i>&nbsp;Home</a></li>
                            <li><a href="/about/index.html"><i class="icon-user"></i>&nbsp;Sobre</a></li>
                            <li><a href="/projects/index.html"><i class="icon-wrench"></i>&nbsp;Projetos</a></li>
                            <li><a href="/contact/index.html"><i class="icon-comment"></i>&nbsp;Contato</a></li>
                        </ul>
                    </nav>

                    <div class="container-fluid">
                        {{ content }}
                    </div>

                    <footer class="container-fluid">
                        <hr>
                        <div class="row-fluid">
                            <div class="span12 navbar">
                                <ul class="nav">
                                    <li><a href="/">&copy;&nbsp;2012 Glauco Vinicius</a></li>
                                    <li><a href="http://facebook.com/glaucovinicius">Facebook</a></li>
                                    <li><a href="http://github.com/glauco">Github</a></li>
                                    <li><a href="http://twitter.com/glauco">Twitter</a></li>
                                    <li><a href="http://br.linkedin.com/in/glaucovinicius">Linkedin</a></li>
                                <ul>
                            </div>
                        </div>
                    </footer>
                </div>
            </div>
    </body>
</html>
