---
layout: default
---

<article class="row-fluid">
    <header>
        <a href="{{ page.url }}">
          <h1>{{ page.title }}</h1>
        </a>
        <p>
            <i class="icon-time"></i>
            {{ page.date | date: "%B %d, %Y" }}
        </p>
    </header>

    {{ content }}

    <footer class="well">
        <p>
            <i class="icon-book"></i>&nbsp;<b>Categories:&nbsp;</b>
            {% for category in page.categories %}
            <span class="label label-success">{{category}}</span>
            {% endfor %}
        </p>

        <p>
            <i class="icon-tags"></i>&nbsp;<b>Tags:&nbsp;</b>
            {% for tag in page.tags %}
            <span class="label label-info">{{tag}}</span>
            {% endfor %}
        </p>
    </footer>
</article>

<hr>

<div class="row-fluid">
    <div id="disqus_thread"></div>
    <script type="text/javascript">
        var disqus_shortname = 'softwaredogma';

        (function() {
            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
            dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
    <a href="http://disqus.com" class="dsq-brlink">blog comments powered by <span class="logo-disqus">Disqus</span></a>
</div>
{% include disqus_comments_template.html %}
